/*

DEPRECATED: Use grid.scss

Unless you may not use CSS Grid, this mixin set gaps between elements wrapped
$gap: gap length. number
$columns: horizontal columns. number
*/
@mixin flexgrid($gap: 0, $columns: 3) {
  $unit: 1rem !default;
  $gutter: if(unitless($gap), $gap * $unit, $gap);

  flex: 1 0 calc((100% / #{$columns}) - #{$gutter});
  margin: $gap / 2;
  box-sizing: border-box;

  &:nth-of-type(#{$columns}n + 1) {
    margin-left: 0;
  }

  &:nth-of-type(#{$columns}n),
  &:nth-last-of-type(1) {
    margin-right: 0;
  }

  &:nth-of-type(-n + #{$columns}) {
    margin-top: 0;
  }

  // targets to the last row items
  &:nth-of-type(#{$columns}n + 1):nth-last-of-type(-n + #{$columns}),
  &:nth-of-type(#{$columns}n + 1):nth-last-of-type(-n + #{$columns}) ~ * {
    margin-bottom: 0;
  }
}